var home = {
    getDate: function (date) {
      return getDate(date).toDateString().split(' ')
    },
    imagesToArr: function (str) {
      return str.split(',')
    },
    showDate: function (notes, index) {
      if (index === 0) return true
      var currentIndex = getDate(notes[index].created_at).toDateString()
      var backIndex = getDate(notes[index-1].created_at).toDateString()
      if (currentIndex === backIndex) {
        return false
      } else {
        return true
      }
    },
    getTime: function (date) {
      return (getDate(date).getHours() < 10 ? '0' + getDate(date).getHours() : getDate(date).getHours()) + ':' + (getDate(date).getMinutes() < 10 ? '0' + getDate(date).getMinutes() : getDate(date).getMinutes())
    },
    date: function () {
      return {
        year: getDate().getFullYear(),
        month: month[getDate().getMonth()],
        date: getDate().getDate()
      }
    },
    DayOrNight: function () {
      var hour = getDate().getHours()
      return hour > 6 && hour < 18
    },
    weather: function (code) {
      var weather = parseInt(code)
      if (weather > 0 && weather < 3) {
        return '../Images/cloud.png'
      } else if (weather > 2 && weather < 13) {
        return '../Images/rainy.png'
      } else if (weather > 12 && weather < 18) {
        return '../Images/snow.png'
      } else {
        return '../Images/sunny.png'
      }
    }
  }

var month = [
    '一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'
  ]

module.exports = {
  getDate: home.getDate,
  imagesToArr: home.imagesToArr,
  showDate: home.showDate,
  getTime: home.getTime,
  date: home.date,
  DayOrNight: home.DayOrNight,
  weather: home.weather
}