var home = {
    getDate: function (date) {
      return getDate(date).toDateString().split(' ')
    },
    imagesToArr: function (str) {
      return str.split(',')
    },
    showDate: function (notes, index) {
      if (index === 0) return true
      var currentIndex = getDate(notes[index].created_at).toDateString()
      var backIndex = getDate(notes[index-1].created_at).toDateString()
      if (currentIndex === backIndex) {
        return false
      } else {
        return true
      }
    },
    getTime: function (date) {
      return (getDate(date).getHours() < 10 ? '0' + getDate(date).getHours() : getDate(date).getHours()) + ':' + (getDate(date).getMinutes() < 10 ? '0' + getDate(date).getMinutes() : getDate(date).getMinutes())
    },
    date: function () {
      return {
        year: getDate().getFullYear(),
        month: month[getDate().getMonth()],
        date: getDate().getDate()
      }
    },
    weather: function (str) {
      if (typeof str != 'string') return '../Images/sunny.png'
      if (str.indexOf('晴') > -1) {
        return '../Images/sunny.png'
      } else if (str.indexOf('多云') > -1 || str.indexOf('阴') > -1) {
        return '../Images/cloud.png'
      } else if (str.indexOf('雨') > -1) {
        return '../Images/rainy.png'
      } else if (str.indexOf('雪') > -1) {
        return '../Images/snow.png'
      } else if (str.indexOf('雾') > -1 || str.indexOf('尘') > -1 || str.indexOf('沙') > -1 || str.indexOf('霾') > -1) {
        return '../Images/fly_ash.png'
      } else {
        return '../Images/sunny.png'
      }
    },
    returnTitlte: function (itemUserId, userId, partnerSex) {
      if (itemUserId == userId) {
        return ''
      } else {
        return partnerSex ? 'female' : 'male'
      }
    },
    getIcon: function (mode) {
      if (mode >= 0 && mode < 20) {
        return modeImg.verySad
      } else if (mode >= 20 && mode < 40) {
        return modeImg.sad
      } else if (mode >= 40 && mode < 60) {
        return modeImg.normal
      } else if (mode >= 60 && mode < 80) {
        return modeImg.happy
      } else if (mode >= 80 && mode <= 100) {
        return modeImg.veryHappy
      }
    }
  }

var month = [
    '一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'
]

var modeImg = {
  verySad: '../Images/verySad_grey.png',
  sad: '../Images/sad_grey.png',
  normal: '../Images/normal_grey.png',
  happy: '../Images/happy_grey.png',
  veryHappy: '../Images/veryHappy_grey.png'
}

module.exports = {
  getDate: home.getDate,
  imagesToArr: home.imagesToArr,
  showDate: home.showDate,
  getTime: home.getTime,
  date: home.date,
  DayOrNight: home.DayOrNight,
  weather: home.weather,
  returnTitle: home.returnTitlte,
  getIcon: home.getIcon
}